<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/historia.css">
    <link rel="stylesheet" href="/static/css/Footer.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <title>Historia</title>
</head>
<body>
    <!--NAVBAR-->
    <div class="nav">
        <a href="/">
            <img src="/static/img/logo.png" width="135">
        </a>
        <div class="nav-item">
            <div class="nav-servicio">
                <button class="boton-nav">Servicio</button>
                <div class="dropdown-content">
                    <a href="/garantia">Garantias</a>
                    <a href="/repuesto">Repuestos</a>
                    <a href="/servicios_24h">Servicio 24H</a>
                </div>
            </div>
            <div class="nav-servicio">
                <button class="boton-nav">Asesoramiento</button>
                <div class="dropdown-content">
                    <a href="/fichas-tecnicas">Fichas-Tecnicas</a>
                    <a href="/oferta">Oferta</a>
                    <a href="/preventa-exclusiva">Preventa-Exclusiva</a>
                </div>
            </div>
        </div>
        <button class="boton-nav">Vehículos</button><!--proximamente-->
    </div>

    <header>
        <h1 class = "cabeza" style="color: aliceblue;">
            Nuestra Historia en Mercedes-Benz
        </h1>

        <p>
            <div class = "Texto1" style="color: aliceblue;">
                Bienvenidos a Mercedes-Benz, donde nuestra historia es un testimonio de innovación, lujo y excelencia 
                en la ingeniería automotriz.
            <div class = "Texto1" style="color: aliceblue;">
                Acompáñenos en un viaje a través del tiempo, descubriendo cómo hemos redefinido la industria del 
                automóvil y establecido nuevos estándares de calidad y rendimiento.
            </div>
        </p>
    </header>

    <main>
        <h2 style="color: aliceblue;">
            Un viaje a través del tiempo: La historia de Mercedes-Benz
        </h2>
        <p>
            <div style="color: aliceblue;">
                Somos Mercedes-Benz. Nustro nombre resuena con la fuerza de la innovación y el lujo, evocando imágenes de ingeniería de vanguardia y 
                diseño atemporal. Mi historia, que se remonta a finales del siglo XIX, está entrelazada con la de dos visionarios: Karl Benz y Gottlieb 
                Daimler.
            </div>
            <div style="color: aliceblue;">
                En 1886, Karl Benz patentó el Motorwagen, considerado el primer automóvil del mundo. Este ingenioso vehículo de tres ruedas marcó el 
                inicio de una era de movilidad individual sin precedentes. Por su parte, Gottlieb Daimler creó su propio motor de combustión interna en 
                1885 y desarrolló una serie de vehículos innovadores, incluyendo la Motorrad, la primera motocicleta.
            </div>
            <div style="color: aliceblue;">
                Nuestros caminos se unieron en 1926, dando origen a Daimler-Benz AG. Esta fusión marcó el nacimiento de la icónica estrella de tres 
                puntas que hoy adorna nuestros vehículos. Desde entonces, no hemos dejado de perseguir la excelencia, impulsando  los límites de la 
                tecnología automotriz y redefiniendo los estándares de lujo y seguridad.
            </div>
        </p>

        <h2 style="color: aliceblue;">
            A lo largo de nuestra historia, hemos cosechado numerosos logros:
        </h2>
        <p>
            <div style="color: aliceblue;">
                Fuimos pioneros en la seguridad automotriz, introduciendo características como el cinturón de seguridad de tres puntos, la zona de 
                deformación programada y el sistema antibloqueo de frenos (ABS).
            </div>
            <div style="color: aliceblue;">
                Desarrollamos motores cada vez más eficientes y potentes, desde el legendario M100 hasta los motores híbridos y eléctricos de 
                vanguardia que impulsan nuestros vehículos actuales.
                Creamos automóviles que han dejado una huella imborrable en la historia, como el 300 SL Gullwing, el SL Roadster y el Clase G, íconos que 
                siguen cautivando a entusiastas en todo el mundo.
            </div>
            <div style="color: aliceblue;">
                Nuestra pasión por la innovación no tiene límites. Miramos hacia el futuro con la misma determinación que nos guió desde nuestros 
                inicios, comprometidos a crear experiencias de conducción excepcionales y redefinir el concepto de movilidad de lujo.
            </div>
        </p>
    </main>
    <section class = "wazin">
        <h1 style="color: aliceblue;">
            Algunos de los autos más reconocidos de nuestra historia son:
        </h1>
        <div class = "mercedes1">
            <h2 style="color: aliceblue;">          
                Mercedes-Benz 300 SL Gullwing (1954): 
            </h2>
            <img src="/static/img/historia/auto1-historia.png" alt="682" width="291">
            <p class = "ultim" style="color: aliceblue;">
                Un deportivo legendario con puertas de alas de gaviota, que combinaba rendimiento y diseño atemporal.
            </p>
        </div>
        <div class ="mercedes2">
            <h2 style="color: aliceblue;">
                Mercedes-Benz SL Roadster: 
            </h2>
            <img src="/static/img/historia/auto2-historia.png" alt="682" width="291">
            <p class = "ultim" style="color: aliceblue;">
                Un ícono del lujo y el rendimiento, que ha sido reinterpretado a lo largo de las décadas para ofrecer una experiencia de conducción
            </p>
            <p style="color: aliceblue;">
                incomparable.
            </p>
        </div>
        <div class ="mercedes3">
            <h2 style="color: aliceblue;">
                Mercedes-Benz Clase G: 
            </h2>
            <img src="/static/img/historia/camioneta-historia.png" alt="682" width="291">
            <p class = "ultim">
                <div class = "text1" style="color: aliceblue;">
                    Un todoterreno robusto y versátil, conocido por su capacidad todoterreno y su diseño imponente.
                </div>
                <div class = "text2" style="color: aliceblue;">
                    Hoy en día, Mercedes-Benz es más que una marca de automóviles. Somos un símbolo de innovación, lujo y pasión por la ingeniería. 
                    Somos la expresión del espíritu pionero de nuestros fundadores, que continúa impulsándonos a desafiar los límites y reimaginar el 
                    futuro de la movilidad.
                </div>
                <div style="color: aliceblue;">
                    Te invitamos a unirte a nuestro viaje a través del tiempo. Descubre nuestra rica historia, explora nuestros modelos actuales y déjate 
                    sorprender por la pasión que nos define. Mercedes-Benz: la estrella que guía tu camino.
                </div>
            </p>
        </div>
    </section>

    <!--FOOTER-->
    <footer>
        <div class="footer">
            <div>
                <button style="background-color:rgb(71, 68, 106);" class="volver">
                    Volver arriba
                </button>
            </div>
            <div class="nombregrupo">
                <h3>Grupo 7</h3>
            </div>

            <div class="integrantes">
                <div class="nombre">
                    <h3>Aquevedo Alexis </h3>
                </div>
                <div class="nombre">
                    <h3>Carbajal Jairo</h3>
                </div>
                <div class="nombre">
                    <h3>Sáenz Diego</h3>
                </div>
                <div class="nombre">
                    <h3>Velásquez Gonzalo</h3>
                </div>
            </div>

            <div class="redes">
                <h3>Nuestras Redes</h3>
                <div class="logos">
                    <img src="/static/img/footer/x.png" width="55rem" height="50rem">
                    <img src="/static/img/footer/facebook.png" alt="Facebook" width="50rem" height="50rem">
                    <img src="/static/img/footer/instagram_log.png" alt="Instagram" width="50rem" height="50rem">
                    <img src="/static/img/footer/youtube_logo_icon_214667.png" alt="YouTube" width="50rem" height="50rem">
                </div>
                <div>
                    <div class="derechos">
                        <div>
                            <img src="/static/img/footer/COPY.png" alt="">
                        </div>
                        <h3>Escuela Técnica N°32 General José De San Martín</h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>