*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #363636;
    font-family: "Bentham", serif;
}

.cabeza {
    background-image: url(/static/img/servicio/garantia/header-garantia-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.titulo{
    font-size: 4rem;
    color: white;
    padding-top: 14rem;
    padding-left: 8rem;
}

.titulo2{
    font-size: 4rem;
    color: white;
    padding-top: 1rem;
    padding-left: 8rem;
}

.pecho{

    border-radius: 10px 0px 0px 10px;
    padding: 3rem;
    background-color: #D9D9D9;
    margin-left: 5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.imagen{
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-right: 10rem;
}
main{
    display: flex;
    margin-bottom: 3rem;
}

.waza{
    padding-bottom: 2rem;
}