<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/nav.css">
    <title>Document</title>
</head>
<body>
    <!--NAVBAR-->
    <div class="nav">
        <a href="/templates/principal.html">
            <img src="/static/img/logo.png" width="135">
        </a>
        <div class="nav-item">
            <div class="nav-servicio">
                <button class="boton-nav">Servicio</button>
                <div class="dropdown-content">
                    <a href="/templates/servicios/garantia.html">Garantias</a>
                    <a href="/templates/servicios/repuesto.html">Repuestos</a>
                    <a href="/templates/servicios/servicio_24h.html">Servicio 24H</a>
                </div>
            </div>
            <div class="nav-servicio">
                <button class="boton-nav">Asesoramiento</button>
                <div class="dropdown-content">
                    <a href="/templates/asesoramiento/Fichas-Tecnicas.html">Fichas-Tecnicas</a>
                    <a href="/templates/asesoramiento/oferta.html">Oferta</a>
                    <a href="/templates/asesoramiento/Preventa-Exclusiva.html">Preventa-Exclusiva</a>
                </div>
            </div>
            <button class="boton-nav" onclick="location.href='/templates/historia.html'">Historia</button>
            <button class="boton-nav" onclick="location.href='/templates/vehiculos/catalogo.html'">Vehiculos</button>
            <button class="boton-nav" onclick="location.href='/templates/vehiculos/compra.html'">compra</button>
            <button class="boton-nav" onclick="location.href='/templates/vehiculos/descripcionAutos.html'">descripcion</button>
        </div>
    </div>
    <h1 class="text-center mt-5 mb-5 text-primary">Gestor de Concesionaria</h1>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <form action="/autos" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Codigo</label>
                            <input type="text" class="form-control mb-3" name="codigo">
                        </div>
                        <div class="col">
                            <label for="itemDropdown">Tipo</label>
                            <select class="form-control" id="itemDropdown" name="tipo">
                                <option >---</option>
                                <option >Sedan</option>
                                <option >Camion</option>
                                <option >Van</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Modelo</label>
                            <input type="text" class="form-control mb-3" name="modelo">
                        </div>
                        <div class="col">
                            <label>Precio</label>
                            <input type="number" class="form-control mb-3" name="precio">
                        </div>
                        <div class="col">
                            <label>Año</label>
                            <input type="date" class="form-control mb-3" name="año">
                        </div>
                        <div class="col">
                            <label>Imagen</label>
                            <input type="url" class="form-control mb-3" name="imagen">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Save</button>
                        </div>
                    </div>
                </form>

                <!-- Tabla -->
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Año</th>
                        <th scope="col">Imagen</th>              
                        <th scope="col">Eliminar</th>              
                        <th scope="col">Edit</th>              
                    </thead>
                    <tbody>
                        {% for d in dato %}
                            <tr>
                                <td>{{d.codigo}}</td>
                                <td>{{d.tipo}}</td>
                                <td>{{d.modelo}}</td>
                                <td>{{d.precio}}</td>
                                <td>{{d.año}}</td>
                                <td style="display: flex; justify-content: center;">
                                    <img src="{{d.imagen}}" style="max-width: 150px;">
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm" id="btn-edit{{d.codigo}}" data-bs-toggle="modal" data-bs-target="#modal{{d.codigo}}">Edit</button>
                                </td>
                                <td>
                                    <a href="{{url_for('delete', id=d.codigo)}}" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="modal{{d.codigo}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.modelo}}</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="/edit/{{d.codigo}}" method="post">
                                        <div class="modal-body">
                                            <label>Codigo</label>
                                            <input type="text" class="form-control mb-3" name="codigo" value="{{d.codigo}}">
                                            <label for="itemDropdown">Tipo</label>
                                            <select class="form-control" id="itemDropdown" name="tipo"  >
                                                <option >{{d.tipo}}</option>
                                                <option >Sedan</option>
                                                <option >Camion</option>
                                                <option >Van</option>
                                            </select>
                                            <label>Modelo</label>
                                            <input type="text" class="form-control mb-3" name="modelo" value="{{d.modelo}}">
                                            <label>Precio</label>
                                            <input type="number" class="form-control mb-3" name="precio" value="{{d.precio}}">
                                            <label>Año</label>
                                            <input type="date" class="form-control mb-3" name="año" value="{{d.año}}">
                                            <label>Imagen</label>
                                            <input type="url" class="form-control mb-3" name="imagen" value="{{d.imagen}}">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                        </div>
                                    </form>
                                  </div>
                                </div>
                              </div>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
