<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/servicio_24h.css">
    <link rel="stylesheet" href="/static/css/Footer.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <title>Servicio 24 HS</title>
</head>

<body>
    <!--NAVBAR-->
    <div class="nav">
        <a href="/templates/principal.html">
            <img src="/static/img/logo.png" width="135">
        </a>
        <div class="nav-item">
            <div class="nav-servicio">
                <button class="boton-nav">Servicio</button>
                <div class="dropdown-content">
                    <a href="/templates/servicios/garantia.html">Garantias</a>
                    <a href="/templates/servicios/repuesto.html">Repuestos</a>
                    <a href="/templates/servicios/servicio_24h.html">Servicio 24H</a>
                </div>
            </div>
            <div class="nav-servicio">
                <button class="boton-nav">Asesoramiento</button>
                <div class="dropdown-content">
                    <a href="/templates/asesoramiento/Fichas-Tecnicas.html">Fichas-Tecnicas</a>
                    <a href="/templates/asesoramiento/oferta.html">Oferta</a>
                    <a href="/templates/asesoramiento/Preventa-Exclusiva.html">Preventa-Exclusiva</a>
                </div>
            </div>
            <button class="boton-nav">Vehículos</button><!--proximamente-->
            <button class="boton-nav" onclick="location.href='/templates/historia.html'">Historia</button>
        </div>
    </div>

    <header id="Inicio_Servicio24H">
        <div class="titulo">
            <h1>
                Mercedes-Benz <br>
                Asistencia 24 hs
            </h1>
        </div>
    </header>
    <main>
        <section id="1">
            <div class="imagen_24h">
                <img src="/static/img/servicio/servicio_24H/main_bueno.png" alt="" width="650">
            </div>
            <div class="texto_24hs">
                <div class="titulo-servicio">
                    <h1>Seguridad para tu Mercedes, tranquilidad para vos</h1>
                </div>
                <hr>
                <div class="parrafo-servicio">
                    <p>Frente a cualquier eventual problema en la ruta, Mercedes-Benz Assistance 24hs te asiste dentro
                        del país y en países limítrofes. Nuestra línea de atención al cliente 0800 66 MBENZ (62369)
                        atiende tu llamada y organiza rápidamente ayuda profesional. Estamos a tu entera disposición los
                        365 días del año, 7 días a la semana, 24 horas al día. A menudo es posible resolver la avería en
                        la ruta. En caso de que no fuera posible, nos encargamos de llevar tu vehículo al concesionario
                        oficial Mercedes-Benz más cercano y organizamos tu desplazamiento. Te esperan las siguientes
                        prestaciones:
                    <p>
                </div>
                <div class="lista-servicio">
                    <ul>
                        <li>Ayuda en casos de emergencia</li>
                        <li>Organización de las medidas de asistencia en caso de avería</li>
                        <li>Gestión y coordinación de la asistencia en ruta y la solución de movilidad</li>
                        <li>Personal calificado</li>
                    </ul>
                </div>
            </div>
        </section>


    </main>

    <!--FOOTER-->
    <footer>
        <div class="footer">
            <div>
                <button style="background-color:rgb(71, 68, 106);" class="volver" onclick="location.href='#Inicio_Servicio24H'">
                    Volver arriba
                </button>
            </div>
            <div class="nombregrupo">
                <h3>Grupo 7</h3>
            </div>

            <div class="integrantes">
                <div class="nombre">
                    <h3>Aquevedo Alexis </h3>
                </div>
                <div class="nombre">
                    <h3>Carbajal Jairo</h3>
                </div>
                <div class="nombre">
                    <h3>Sáenz Diego</h3>
                </div>
                <div class="nombre">
                    <h3>Velásquez Gonzalo</h3>
                </div>
            </div>
            <div class="redes">
                <div class="logos">
                    <img src="/static/img/footer/x.png" width="90rem" height="60rem">
                    <img src="/static/img/footer/facebook.png" alt="Facebook" width="60rem" height="60rem">
                    <img src="/static/img/footer/instagram_log.png" alt="Instagram" width="75rem" height="75rem">
                    <img src="/static/img/footer/youtube_logo_icon_214667.png" alt="YouTube" width="75rem" height="75rem">
                </div>
                <div class="derechos">
                    <div>
                        <img src="/static/img/footer/COPY.png" alt="">
                    </div>
                    <h3>Escuela Técnica N°32 General José De San Martín</h3>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>