* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(64, 64, 64);
    overflow-x: hidden;
}

header {
    color: white;
    font-family: bentham;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)), url(/static/img/asesoramiento/ofertas/oferta_header_mejor_2.jpeg);
    width: 119rem;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: margin 40px;


}

.texto_principal {
    padding: 10rem;
    margin-left: -7rem;
    font-size: 75px;
    color: black;

}

.botones1 {
    font-family: Baskerville;
    background-color: black;
    margin-top: 30px;
    margin-left: 30px;
    width: 250px;
    height: 45px;
    font-size: 20px;
    font-style: white;
    border-radius: 5px;

}

.boton1 {
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}

.botones2 {
    font-family: baskervville;
    background-color: rgb(48, 101, 205);
    margin-left: 50px;
    margin-bottom: 40px;
    grid-area: main;
    font-size: 20px;
    font-style: white;
    width: 250px;
    height: 45px;
    border-radius: 5px;

}

.botones2:hover {
    background-color: rgb(30, 90, 170);
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}

.botones1:hover {
    background-color: rgb(10, 10, 10);
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}



main h1 {
    margin-top: 1rem;
    margin-left: 90rem;
}

.columna1 {
    background-image: url(/static/img/asesoramiento/ofertas/buenos_aires.png);
    background-repeat: no-repeat;
    height: 10rem;
    width: 57rem;
    color: aliceblue;
    padding-top: 1.4rem;
    padding-left: 1rem;
}

.columna2 {
    background-image: url(/static/img/asesoramiento/ofertas/tierra_del_fuego.png);
    background-repeat: no-repeat;
    height: 10rem;
    width: 57rem;
    color: aliceblue;
    padding-top: 1.4rem;
    padding-left: 1rem;
}

.columna3 {
    background-image: url(/static/img/asesoramiento/ofertas/cordoba.png);
    background-repeat: no-repeat;
    height: 10rem;
    width: 57rem;
    color: aliceblue;
    padding-top: 1.4rem;
    padding-left: 1rem;
}

.columna4 {
    background-image: url(/static/img/asesoramiento/ofertas/santa_fe.png);
    background-repeat: no-repeat;
    height: 10rem;
    width: 57rem;
    color: aliceblue;
    padding-top: 1.4rem;
    padding-left: 1rem;
}

.columna5 {
    background-image: url(/static/img/asesoramiento/ofertas/neuquen.png);
    background-repeat: no-repeat;
    height: 10rem;
    width: 57rem;
    color: aliceblue;
    padding-top: 1.4rem;
    padding-left: 1rem;
}


.footer {
    background-color: rgb(217, 217, 217);
    box-shadow: 0rem -2rem 2rem rgb(217, 217, 217);

}

.nombregrupo {
    padding: 2rem 4rem 4rem 3rem;
    font-size: 2rem;
    display: flex;
}

.integrantes {
    display: flex;

}

.texto_primario {
    margin-left: 1rem;
    padding-bottom: 2rem;
}

.texto_secundario {
    margin-left: 1rem;
    padding-bottom: 2rem;
}

.oferta h1 {
    color: white;
}

main {
    padding-top: 7rem;
}

.nav {
    background-color: rgb(217, 217, 217);
    display: flex;
    padding-right: 2rem;
    position: fixed;
    top: 1rem;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 1px 1px 55px rgb(112, 106, 106);
}

.boton-nav {
    background-color: transparent;
    margin: 15px 25px;
    border-color: transparent;
    border-radius: 25px;
    font-size: 1rem;
    transition: box-shadow 0.3s ease;
}

.boton-nav:hover {
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}

.logos {
    display: flex;
    width: 100;
    height: 10cap;
}

.nombre {
    margin: 0px 60px;
    font-size: 1.5rem;
}

.derechos {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.volver {
    border-radius: 5px;
    margin-left: 45%;
    font-size: 20px;
    margin-top: 40px;
    width: 10rem;
    height: 3rem;
    background-color: rgb(106, 68, 68);
    box-shadow: 0px 0px 10px black;
}

.volver:hover {
    border-radius: 5px;
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))


}

.redes h3 {
    padding: 3rem;
    font-size: 1.8rem;
}

.logos {
    display: flex;
    margin: 0px 8rem;
    justify-content: space-around;

}