*{
    margin: 0%;
    padding: 0%;
    font-family: Baskerville;
}
body {
    background-color: rgb(54, 54, 54);
    overflow-x: hidden;
}

main {
    padding-bottom: 15%;
}

.texto-header{
    color: white;
    font-size: 35px;
    padding-top: 15rem;
    padding-left: 5rem;
}

h2{
    color: white;
    font-size: 50px;
    margin-left: 5rem;
    margin-top: 2rem;
}

.contenedor-header{
    background-image: url("/static/img/asesoramiento/Fichas-Tecnicas/Header-ficha_tecnica.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 84rem;
    height: 45rem;
}

.tarjeta{
    margin-bottom: 20%;
    font-size: 15px;
}

.texto{
    padding-top: 5%;
    margin-bottom: 20%;
    margin-left: 33%;
    font-size: 25px;
}


.tarjeta-1{
    margin-left: 7rem !important;
}
.tarjeta{
    background-color: rgb(85, 85, 85);
    border-radius: 10px;
    margin: 1rem;
}


.contenedor-hatchback, .contenedor-sedan{
    display: flex;
}


.boton{
    border-radius: 5px;
    margin-left: 34%;
    margin-bottom: 20%;
    font-size: 17px;
    padding: 5px;
    background-color: rgb(107, 68, 68);
    border: 1px solid black;
    transition: 0.3s ease;
}

.boton:hover{
    box-shadow: 0px 0px 10px white;
    transform: scale(1.05);
}

.imagen{
    display: flex;
    margin: 5rem;
    padding-bottom: 8rem;

}