.footer {
    background-color: rgb(217, 217, 217);
    box-shadow: 0rem -2rem 2rem rgb(217, 217, 217);

}

.integrantes {
    display: flex;
}

.nombre {
    margin: 0px 60px;
    font-size: 1.5rem;
}

.nombregrupo {
    padding: 2rem 4rem 4rem 3rem;
    font-size: 2rem;
    display: flex;
}

.redes h3 {
    padding: 3rem;
    font-size: 1.8rem;
}

.logos {
    display: flex;
    margin: 0px 8rem;
    justify-content: space-around;
    display: flex;
    width: 100;
    height: 10cap;

}

.derechos {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.volver {
    margin-left: 45%;
    box-shadow: 0px 0px 10px black;
    width: 10rem;
    border-radius: 5px;
    height: 3rem;
    font-size: 20px;
    margin-top: 40px;
    color: aliceblue;

}

.volver:hover {
    transform: scale(1.03);
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}