*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #363636;
    font-family: "Bentham", serif;
}

header{
    background-image: url(../img/historia/header-hisoria.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main{
    background-image: url(../img/historia/main-hisporia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cabeza{
    margin: 0rem 0rem 15rem 20rem;
    font-size: 3rem;
}

.wazin{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: rgb(193, 198, 200);
}

.mercedes1{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.mercedes2{
    margin-bottom: 3rem;
}

.mercedes3{
    margin-bottom: 3rem;
}

.ultim{
    padding-top: 1rem;
}

.text1{
    padding-bottom: 2rem;
}

.text2{
    padding-bottom: 2rem;
}

.Titulo2-main{
    display: flex;
    margin: 0rem 0rem 0rem 20rem;
}

.main2{
    margin: 1rem 2rem 0rem 2rem;
    background-color: rgb(144, 164, 174);
    border-radius: 2rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ni{
    margin-top: 1rem;
}

.main-Texto1{
    margin: 0rem 20rem 0rem 0rem;
}

.main-Texto2{
    margin: 0rem 0rem 0rem 29rem;
}

.main-Texto3{
    margin: 1rem 50rem 0rem 0rem;
}