*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(54, 54, 54);
}
main {
    padding-top: 10rem;

    display: flex;
    margin-bottom: 5rem;
}

.titulo {
    margin: 1rem;
    font-size: 1.3rem;
    padding-top: 30px;
}

.texto {
    background-color: rgb(217, 217, 217);
    border-radius: 10px;
    margin: 2.5rem 3rem 19rem 1rem;
}

.parrafo {
    width: 375px;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
}

.parrafo2 {
    width: 375px;
    padding-left: 45px;
    padding-right: 45px;
}

.imagen-preventas, img{
    border-radius: 50px;
}

.Boton1 {
    border-radius: 5px;
    margin-left: 55%;
    font-size: 15px;
    width: 7rem;
    height: 2rem;
    background-color: rgb(89, 106, 68);
}

header {
    background-image: url(/static/img/asesoramiento/Preventa-Exclusiva/Header-Preventa.png);
    width: 100%;
    height: 60rem;
    background-size: cover;
    background-position: center center;
    background-image: margin 40px;
    
    
}

header h1{
    margin: 0 auto;
    font-stretch: ultra-expanded;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5em;
    max-width: max-content;
    padding-top: 50rem;
    
    
}