* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: baskervville;
    background-color: rgb(64, 64, 64);
    overflow-x: hidden;
}

header {
    background: url(/static/img/principal/auto-principal.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 84.3rem;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marca {
    color: rgb(252, 237, 237);
    font-size: 3.7rem;
    font-family: "Archivo Black", sans-serif;
}


.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12rem 1fr;
    margin: 0.5rem;
    gap: 1rem;
}

.text-1 {
    grid-row: 1/1;
    grid-column: 3/4;
    margin: 4rem 0rem 0rem 10rem;
    font-size: 1.8rem;
    color: rgb(252, 237, 237);
    ;

}

.text-2 {
    margin: 6.5rem 0rem 0rem 2rem;
    font-size: 1.8rem;
    color: rgb(252, 237, 237);
    ;
}

.text-2-v {
    font-size: 1.8rem;
    color: rgb(252, 237, 237);
}

.tarjeta-1 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.tarjeta-2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.tarjeta-3 {
    grid-row: 2/3;
    grid-column: 3/4;
}


.imagen-1-1 {
    background-image: url(/static/img/principal/auto1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 11rem 7rem;
    border-radius: 45px;
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}

.imagen-2-1 {
    background-image: url(/static/img/principal/auto-002.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 11rem 7rem;
    border-radius: 45px;
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}

.imagen-3-1 {
    background-image: url(/static/img/principal/auto3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 11rem 7rem;
    border-radius: 45px;
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}

.imagen-1-2 {
    background-image: url(/static/img/principal/autos.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 7rem;
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}

.imagen-2-2 {
    background-image: url(/static/img/principal/camion_principal.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 7rem;
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}

.imagen-3-2 {
    background-image: url(/static/img/principal/vans_principal.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 7rem;
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}

.descripcion1 {
    background-color: rgb(217, 217, 217);
    border-radius: 45px;
    margin-top: 5px;
    font-size: 18px;
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8));
    padding: 2.4rem ;
    border: 1px solid #ccc;
    overflow: hidden;
}

.descripcion2 {
    background-color: rgb(217, 217, 217);
    border-radius: 45px;
    margin-top: 5px;
    margin-bottom: 7rem;
    padding: 2rem 0.8rem;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 0px 8px rgba(8, 8, 8, 0.8))
}





