<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/compra.css">
    <link rel="stylesheet" href="/static/css/Footer.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <title>Compra</title>
</head>
<body>
    <!--NAVBAR-->
    <div class="nav">
        <a href="/templates/principal.html">
            <img src="/static/img/logo.png" width="135">
        </a>
        <div class="nav-item">
            <div class="nav-servicio">
                <button class="boton-nav">Servicio</button>
                <div class="dropdown-content">
                    <a href="/templates/servicios/garantia.html">Garantias</a>
                    <a href="/templates/servicios/repuesto.html">Repuestos</a>
                    <a href="/templates/servicios/servicio_24h.html">Servicio 24H</a>
                </div>
            </div>
            <div class="nav-servicio">
                <button class="boton-nav">Asesoramiento</button>
                <div class="dropdown-content">
                    <a href="/templates/asesoramiento/Fichas-Tecnicas.html">Fichas-Tecnicas</a>
                    <a href="/templates/asesoramiento/oferta.html">Oferta</a>
                    <a href="/templates/asesoramiento/Preventa-Exclusiva.html">Preventa-Exclusiva</a>
                </div>
            </div>
            <button class="boton-nav" onclick="location.href='/templates/historia.html'">Historia</button>
            <button class="boton-nav" onclick="location.href='/templates/vehiculos/catalogo.html'">Vehiculos</button>
            <button class="boton-nav" onclick="location.href='/templates/vehiculos/compra.html'">compra</button>
            <button class="boton-nav" onclick="location.href='/templates/vehiculos/descripcionAutos.html'">descripcion</button>
        </div>
    </div>
    <header>
        <h1>Proceso de compra</h1>
        <h1 class = "auto">Auto</h1>
    </header>
    <section>
        <h2 class = "Title">DATOS PERSONALES</h2>
        <div class = "Datos-Informacion">
            <div class = "Contenedor1">
                <h2 class="date">Nombre:</h2>
                <input type="text">
                <h2 class="date">Apellido:</h2>
                <input type="text">
                <h2 class="date">Telefono:</h2>
                <input type="text">
            </div>
            <div class = "Contenedor2">
                <h2 class="date">Correo:</h2>
                <input type="text">
                <h2 class="date">Dirrecion:</h2>
                <input type="text">
                <h2 class="date">F/N:</h2>
                <input type="text">
            </div>
            <h2 class = "Title2">INFORMACION DE PAGO</h2>
            <div class = "Contenedor3">
                <div class="items">
                    <h2>Num.de tarjeta</h2>
                    <input type="text">                    
                </div>
                <div class="items">
                    <h2>Cod. de seguridad</h2>
                    <input type="text">                    
                </div>
                <div class="items">
                    <h2>F. de vencimiento</h2>
                    <input type="text">                    
                </div>
            </div>
        <div class="item-aparte">
            <h2>Nombre de titular</h2>
            <input type="text">                    
        </div>    
        </div>
    </section>
    <div>
        <button class="cancelar">Cancelar</button>
        <button class="confirmar">Confirmar</button>
    </div>
        <!--FOOTER-->
        <footer>
            <div class="footer">
                <div>
                    <button style="background-color:rgb(71, 68, 106);" class="volver" onclick="location.href='#Inicio_Principal'">
                        Volver arriba
                    </button>
                </div>
                <div class="nombregrupo">
                    <h3>Grupo 7</h3>
                </div>
    
                <div class="integrantes">
                    <div class="nombre">
                        <h3>Aquevedo Alexis </h3>
                    </div>
                    <div class="nombre">
                        <h3>Carbajal Jairo</h3>
                    </div>
                    <div class="nombre">
                        <h3>Sáenz Diego</h3>
                    </div>
                    <div class="nombre">
                        <h3>Velásquez Gonzalo</h3>
                    </div>
                </div>
                <div class="redes">
                    <div class="logos">
                        <img src="/static/img/footer/x.png" width="90rem" height="60rem">
                        <img src="/static/img/footer/facebook.png" alt="Facebook" width="60rem" height="60rem">
                        <img src="/static/img/footer/instagram_log.png" alt="Instagram" width="75rem" height="75rem">
                        <img src="/static/img/footer/youtube_logo_icon_214667.png" alt="YouTube" width="75rem" height="75rem">
                    </div>
                    <div class="derechos">
                        <div>
                            <img src="/static/img/footer/COPY.png" alt="">
                        </div>
                        <h3>Escuela Técnica N°32 General José De San Martín</h3>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>